<section>
  <div class="content-play">
    <p><a href="javascript:void(0)" onclick="dashangToggle()" class="dashang" title="打赏，支持一下">打赏一个呗</a></p>
    <div class="hide_box-play"></div>
    <div class="shang_box-play">
      <a class="shang_close-play" href="javascript:void(0)" onclick="dashangToggle()" title="关闭"><img src="/images/payimg/close.jpg" alt="取消" /></a>
      <div class="shang_tit-play">
        <p>感谢您的支持，我会继续努力的!</p>
      </div>
      <div class="shang_payimg">
        <img src="/images/payimg/alipayimg.jpg" alt="扫码支持" title="扫一扫" />
      </div>
      <div class="shang_payimg">
        <img src="/images/payimg/weipayimg.jpg" alt="扫码支持" title="扫一扫" />
      </div>
      <div class="pay_explain">扫码打赏，你说多少就多少</div>
      <div class="shang_payselect">
        <div class="pay_item checked" data-id="alipay">
          <span class="pay_logo"><img src="/images/payimg/alipay.jpg" alt="支付宝" /></span>
        </div>
        <div class="pay_item" data-id="weipay">
          <span class="pay_logo"><img src="/images/payimg/wechat.jpg" alt="微信" /></span>
        </div>
      </div>
      <div class="shang_info-play">
        <p>打开<span id="shang_pay_txt">支付宝</span>扫一扫，即可进行扫码打赏哦</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function dashangToggle() {
      $(".hide_box-play").fadeToggle();
      $(".shang_box-play").fadeToggle();
    }
  </script>
  <ul class="pager">
    {% if page.previous.url %}
    <li class="previous">
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">上一篇：  <span>{{page.previous.title}}</span></a>
    </li>
    {% endif %}
    {% if page.next.url %}
    <li class="next">
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">下一篇：  <span>{{page.next.title}}</span></a>
    </li>
    {% endif %}
  </ul>
</section>
